// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container1 {
  background-color: white;
  border-left: 4px solid gray;
  width: 25%;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#container2 {
  background-color: #ebefd0;
  border-left: 4px solid gray;
  width:25%;
  padding: 10px 20px;
  margin-bottom: 20px;
}
